@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap'>
);

*{
  font-family: 'Playfair Display', serif;
  line-height: 1.5;
}

a { color:grey } 

a:visited { text-decoration: none; color:rgb(240, 113, 85); }
a:hover { text-decoration: none; color:rgb(218, 109, 169); }
a:focus { text-decoration: none; color:rgb(233, 186, 129); }
a:hover, a:active { text-decoration: none; color:rgb(177, 247, 211) }


.navLinks {
  position: fixed;
  font-size: 23px;
}


h1{
  text-align: center;
}

h2 {
  font-size: 20px;
  color: rgb(240, 113, 85);
  display: inline-flex;
  text-align: center;
}

h3{
  text-align: center;
}

h5 {
  padding: 15px;
  text-align: center;
  margin: 0 auto;
}

.hidden {
  display: none;
}

img .bookmark {
  padding-bottom: 20px;
}


.menuPage {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  
}

p {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
}



.home{
  display: flex;
  justify-content: center;
  align-items: center;
}

#projectContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  color: rgb(80, 80, 80);
}

#projectContainer img {
  max-width: 90%;
}

.quizapp{
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 60%;
  height: auto;
  
}

/* .projects ul li{
  background: rgb(203, 203, 203);
  padding: 10px;
  box-sizing: border-box;
  margin: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 10px;
} */


#scottLogo {
  height: 50%;
  width: 80%;
}



#contact {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
}

#email {
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

#email:hover {
  color: rgb(96, 199, 146);
}


#github {
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

#insta {
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

#linkedin {
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

section{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#About {
  background-color: rgb(205, 233, 218);
  color: rgb(80, 80, 80);
}

section button {
  position: absolute;
  bottom: 0;
  padding: 10px;
  border:none;
  outline:none;
}

section button .fa .fa-times {
  position: absolute;
  top:0;
}

button a {
  text-decoration: none;

}

button #chevron {
  align-self: flex-end;
  font-size: 20px;
  text-decoration: none;
}

.backgroundColorChange{

  background-color: rgb(237, 171, 147);
  height: 100px;
  width: 100%;
  
}

.fa-times {
  color: white;
}


a {
  text-decoration: none;
  color: #c6c6c6;
}

.hamburger {
  width: 28px;
  height: 42px;
  /* border: 1px solid #eeeeef;
  border-radius: 2px;
  box-shadow: 0 0 2px #eeeeef; */
  padding: 10px 10px;
  /* Hamburger menu is a bit out of place in the HTML flow, but it's always
   * going to live top-right, so we can position absolutely and not worry
   * too much */
  position: absolute;
  top: 8px;
  right: 8px;
  cursor:pointer;
}

.hamburger-stripe {
  background-color: #bababa;
  height: 3px;
  margin-bottom: 5px;
  border-radius: 3px;
}

.menu {
position: fixed;
top: 0;
right: 0;
width: 60vw;
height: 35vh;
opacity: 1;
/*   background-color: #f2f2f2; */
background-color: rgba(242,242,242,0.75);
z-index: 10;
/*   display: block; */
/*  to use transition we can't use display  */
transition: opacity 0.5s ease-in-out;
}

.hidden {
/*   display: none; */
/*  to use transition we can't use display  */
transition: opacity 0.5s ease-in-out;
opacity: 0;
}

.menu .close {
position: absolute;
top: 20px;
right: 14px;
font-size: 4em;
cursor: pointer;
display: flex;
color: rgb(240, 113, 85);
/* if you don't want a border   */
/*  switch off all below  */
/* width: 2.2em; */
/* height: 2.2em; */
line-height: 10px;
/* border: 1px solid #000; */
padding: 1px;
/* border-radius: 100%; */
background-color:  rgba(242,242,242);
}

.menu .links {
width: 100%;
height: 80%;
margin-top: 10%;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}


/*******************************/


 @media (min-width: 576px) {
    .hamburger {
        /* Only display the hamburger on mobile devices */
      /*  currently switched off */
        display: none;
    }
}