

*{
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  text-align: center;
}

a { color:rgb(46, 46, 46) } 

a:hover { 
  text-decoration: none; 
  color:rgb(242, 176, 161);
 }
  a:focus { 
    text-decoration: none;
    color:rgb(233, 186, 129); }
  a:active { 
    text-decoration: none; 
    color:rgb(146, 216, 180) 
  } 


.navLinks {
  position: fixed;
  font-size: 23px;
}

h1{
  text-align: center;
}

h2 {
  font-size: 20px;
  color: rgb(240, 182, 81);
  display: inline-flex;
  text-align: center;
  font-size: 23px;
}

h3{
  text-align: center;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 50px;
}

h5 {
  padding: 15px;
  text-align: center;
  margin: 0 auto;
}

.hidden {
  display: none;
}

img .bookmark {
  padding-bottom: 20px;
}

.menuPage {
  list-style-type: none;
  text-decoration: none;
  padding-bottom: 0;
}

p {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 5px;
  max-width: 700px;
}

footer {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  font-size: 40px;
 
}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
}

#Work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  color: rgb(80, 80, 80);
}

#Work img {
  max-width: 60%;
}

.quizapp {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 60%;
  height: auto; 
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-15px);
  }
}

#scottLogo {
  height: 70%;
  width: 80%;
  margin-top: 10px;
}


section{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#About {
  /* background-color: rgb(205, 233, 218); */
  color: rgb(80, 80, 80);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

section button {
  position: absolute;
  bottom: 0;
  padding: 10px;
  border:none;
  outline:none;
  background-color: transparent;
  font-size: 24px;
}

section a {
  padding-top: 18px;
  padding: 5px;
}

section button .fa .fa-times {
  position: absolute;
  top:0;
}

button a {
  text-decoration: none;
  border:none;
  outline:none;

}

button #chevron {
  /* text-align: right;
  display: flex;
  justify-content: right; */
}

.backgroundColorChange{
  background-color: rgb(237, 171, 147);
  height: 100px;
  width: 100%;
}

.fa-times {
  color: white;
}


a {
  text-decoration: none;
}

.hamburger {
  width: 28px;
  height: 42px;
  /* border: 1px solid #eeeeef;
  border-radius: 2px;
  box-shadow: 0 0 2px #eeeeef; */
  padding: 10px 10px;
  /* Hamburger menu is a bit out of place in the HTML flow, but it's always
   * going to live top-right, so we can position absolutely and not worry
   * too much */
  position: absolute;
  top: 8px;
  right: 8px;
  cursor:pointer;
}

.hamburger-stripe {
  background-color: #bababa;
  height: 3px;
  margin-bottom: 5px;
  border-radius: 3px;
}

.menu {
position: fixed;
top: 0;
right: 0;
width: 60vw;
height: 22vh;
opacity: 1;
/*   background-color: #f2f2f2; */
background-color: rgba(242,242,242,0.85);
z-index: 1;
/*   display: block; */
/*  to use transition we can't use display  */
transition: opacity 0.5s ease-in-out;
}

.hidden {
/*   display: none; */
/*  to use transition we can't use display  */
transition: opacity 0.5s ease-in-out;
opacity: 0;
}

.menu .close {
position: absolute;
top: 20px;
right: 14px;
font-size: 4em;
cursor: pointer;
display: flex;
color: rgb(240, 113, 85);
/* if you don't want a border   */
/*  switch off all below  */
/* width: 2.2em; */
/* height: 2.2em; */
line-height: 10px;
/* border: 1px solid #000; */
padding: 1px;
/* border-radius: 100%; */
background-color:  rgba(242,242,242);
}

.menu .links {
width: 100%;
height: 80%;
margin-top: 10%;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
font-weight: 700;
border-radius: 5px;
}





/*******************************/


@media (max-width: 576px) {
  .linksDesktop {
    display:none;
  }
}


@media (min-width: 576px) {
  .hamburger {
      /* Only display the hamburger on mobile devices */
    /*  currently switched off */
      display: none;
  }

  #scottLogo {
    height: auto;
    width: 50%;
    margin-bottom: 50px;
  }

  h3{
    max-width: 700px;
  }

  .links {
    display: block;
    display: flex;
    flex-direction: row;
  }

  .linksDesktop {
    text-align: center;
    word-spacing: 40px;
    padding-top: 30px;
  }

  h2 {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 5px;
    
  }

  h5 {
    max-width: 550px;
    font-size: 21px;
  }

  #contact {
    max-width: 600px;
    margin: 0 auto;
  }

}

